.cartel{ 
    text-shadow: 5px 5px #000000;
    color: white;
    background: linear-gradient(to top, rgb(18, 19, 18), 80%, rgb(253, 253, 253));
}
.cartel2{
    background-color: rgb(0, 0, 0);
    text-shadow: 5px 5px #000000;
    color: white;
}